{# Global Footer #}

<footer class="app-footer">
  <div>
    {% block footer_left %}
      &copy; {{ current_year or 2026 }} Core Apps Framework. All rights reserved.
    {% endblock %}
  </div>
  <div>
    {% block footer_right %}{% endblock %}
  </div>
</footer>
